<div>
  <section class="material-half-bg">
    <div class="cover"></div>
  </section>
  <section class="login-content">
    <div class="logo">
      <img src="@/img/data-scanner-logo.png" style="max-height: 70px;">
    </div>
    <div class="col-md-4">
      <div class="tile">
        <h3 class="tile-title">LOGIN</h3><hr>
        <div class="tile-body">
          <b-form @submit="$v.$touch()" class="form-horizontal">
            <b-form-group id="emailInputGroup" label="Email" label-for="emailInput">
              <b-form-input id="emailInput" type="email" v-model="form.email" :state="!$v.form.email.$invalid"
                aria-describedby="emailError" placeholder="Enter your email address" />
              <b-form-invalid-feedback id="emailError">This is a required field</b-form-invalid-feedback>
            </b-form-group>
            <b-form-group id="passwordInputGroup" label="Password" label-for="passwordInput">
              <b-form-input id="passwordInput" type="password" v-model="form.password" :state="!$v.form.password.$invalid"
                aria-describedby="passwordError" placeholder="Enter your password" />
              <b-form-invalid-feedback id="passwordError">Password is required</b-form-invalid-feedback>
            </b-form-group>
            <div class="form-group">
              <div class="utility">
                <div class="animated-checkbox">
                  <label>
                    <input type="checkbox"><span class="label-text">Stay Signed in</span>
                  </label>
                </div>
                <p class="semibold-text mb-2">
                  <router-link to="/password-reset">Forgot Password ?</router-link>
                </p>
              </div>
            </div>
            <div class="form-group btn-container">
              <button class="btn btn-primary btn-block" @click="logInAPI()"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button><br>
              <h5 style="text-align: center;">- OR -</h5>
              <button class="btn btn-primary btn-block" @click="navigate('/add-new-user')"><i class="fa fa-user-plus"></i>REGISTER</button>
            </div>
          </b-form>
        </div>
      </div>
    </div>
  </section>
</div>
