<main class="app-content" id="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-edit"></i> Designer Dashboard</h1>
      <p>Designer Dashboard is used to design and manage automations</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item">Designer Dashboard</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="row">
          <div class="col-lg-6">
              <p>Column 1</p>
          </div>
          <div class="col-lg-4 offset-lg-1">
            <p>Column 2</p>
          </div>
        </div>
        <div class="tile-footer">
          <p>Footer</p>
        </div>
      </div>
    </div>
  </div>
</main>



