<!-- Sidebar menu-->
<div>
  <div id="sideNav" class="bm-menu">
    <nav class="bm-item-list">
      <slot>
        <!-- User Info -->
        <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
          <div>
            <p class="app-sidebar__user-name">John Doe</p>
            <p class="app-sidebar__user-designation">Frontend Developer</p>
          </div>
        </div>
        <!-- Menu Content -->
        <ul class="app-menu">
          <li>
            <router-link to="/designer-dashboard" class="app-menu__item"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label"> Designer Dashboard</span></router-link>
          </li>
        </ul>
      </slot>
    </nav>
  </div>
  <div class="bm-burger-button" @click="toggleMenu()">
    <span class="bm-burger-bars line-style" :style="{top:20 * (index * 2) + '%'}" v-for="(x, index) in 3" :key="index"></span>
  </div>
</div>
